<html>
<style type="text/css">
body{
    background: black;
    color: white;
}
#header {
}
#header h1, #header h3 {
    margin: 0;
}

#join-form {
    width: 300px;
    text-align: right;
    margin: 40px 0;
    padding: 20px;
    border: 1px solid #888;
}
#join-form label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
#join-form .errorlist {
    color: red;
    list-style: none;
}
</style>
<body>
    <div id="header">
        <h1>The General Strike<h1>
        <h3>{{ the_totals.total }} committed | {{ the_totals.needed }} needed</h3>
        <h3><a href="{% url 'index' %}">Join!</a> | <a href="{% url 'chapter_list' %}">Chapter list</a></h3>
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
