{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
<body>
    <div id="header">
        <h1>The General Strike</h1>
        <h3>{{ the_totals.total_str }} committed | {{ the_totals.needed_str }} needed</h3>
        <h3>
            <a href="{% url 'index' %}">Join!</a> |
            <a href="{% url 'chapter_list' %}">Chapters</a> |
            <a href="{% url 'partner_campaign_create' %}">Partners</a>
        </h3>
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
