{% extends "base.html" %}

{% block content %}
    <h3><a href="{% url "partner_campaign_lookup" %}">Find your campaign</a></h3>
    <div class="user-form">
        <h1>Create a Partner Campaign</h1>
        <form method="post">
            {% csrf_token %}
{{ form.non_field_errors }}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    <div class="fieldWrapper{% if field.field.required %} required{% endif %}">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
          <p class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
          </p>
        {% endif %}
    </div>
{% endfor %}
            <button type="submit">Create!</button>
        </form>
    </div>
{% endblock %}
