{% extends "base.html" %}

{% block content %}
    <h1>Thank You</h1>
    <p>Your Partner Campaign has been created successfully. We will review your submission and get back to you shortly.</p>

    <p>You can embed the following HTML code into your website to include a signup form that will submit directly to our system:</p>

    <textarea rows="15" cols="80" readonly>
    <!-- Copy this code into your website -->
    <form action="{{ request.scheme }}://{{ request.get_host }}{% url 'pending_contact_create' %}" method="post">
        <input type="hidden" name="partner_key" value="{{ object.key_string }}">
        <label>Name: <input type="text" name="name" required></label><br>
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Zip Code: <input type="text" name="zip_code" required></label><br>
        <input type="submit" value="Sign Up">
    </form>
    </textarea>
{% endblock %}
