ipython
ipdb
black
isort
flake8
mypy
python-decouple
django-extensions
pip-tools
pytest
coverage
pre-commit
factory_boy
django-debug-toolbar

# only needed for initial zip code table population
#sqlalchemy_mate>=1.4.28.3,<2.0.0.0
#uszipcode
