#header {
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
}
#header h1, #header h3 {
    margin: 3px 0;
}
#header a {
    text-decoration: none;
}
#fake-email {
    width: 500px;
    margin: 0px 0 40px 0;
    padding: 20px;
    border: 1px solid #888;
}
#fake-email .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
}
#fake-email .header strong{
    display: inline-block;
    width: 80px;
}
